Repository giovanni-guidini/components-demo: changes, and which Codecov flags are due for each by the changed paths.
All: emotions, fruits, core, everything, main_file

create specific components to test the numbers
  codecov.yml
Due: everything

update paths
  codecov.yml
Due: everything

change CI and codecov.yml to use flags (testing carryforward shift)
  .github/workflows/api.yml
  codecov.yml
Due: everything

adding a cherry fruit
  fruits/__init__.py
  fruits/ascii.py
  fruits/emoji.py
  fruits/tests/test_fruits.py
Due: fruits, everything

make unit flag (old) not carryforward
  codecov.yml
Due: everything

add fruits team workflow for their branches
  .github/workflows/api.yml
  .github/workflows/fruits.yml
Due: everything

fix syntax
  .github/workflows/fruits.yml
Due: everything

remove bot
  codecov.yml
Due: everything

extend the interface for future implementations
  fruits/__init__.py
Due: fruits, everything

Add tests to fruit interface. Get fruit interface in main.
  core/main.py
  fruits/__init__.py
  fruits/tests/__init__.py
  fruits/tests/test_fruits.py
Due: fruits, core, everything, main_file

add many comments to throw off carry forward shift
  core/main.py
Due: core, everything, main_file

add / remove stuff to throw off shift by lines
  core/main.py
Due: core, everything, main_file

mostly remove code / add code between covered lines
  core/main.py
Due: core, everything, main_file

adding non-code to eof
  core/main.py
Due: core, everything, main_file

just remove some code at the eof
  core/main.py
Due: core, everything, main_file

make changes to second half of file
  core/main.py
Due: core, everything, main_file

initial setup for iterative testing. expect more commits related to this to follow
  .github/workflows/iterative_testing.yml
  codecov.yml
Due: everything

Update iterative_testing.yml
  .github/workflows/iterative_testing.yml
Due: everything

Adding a bunch of unecessary code just because I had to do it to test something else. Now the app is slightly more complex, but still useless
  __init__.py
  core/helpers.py
  core/input.py
  core/main.py
  core/tests/test_helpers.py
  core/tests/test_input.py
  core/tests/test_main.py
  emotions/__init__.py
  emotions/ascii.py
  emotions/emoji.py
  emotions/tests/test_emotions.py
  fruits/__init__.py
  fruits/ascii.py
  fruits/emoji.py
  fruits/tests/test_fruits.py
Due: emotions, fruits, core, everything, main_file

return core/ tests to valid state. Clean warning in fruits tests
  fruits/tests/test_fruits.py
  requirements.txt
Due: everything

auth request to download CLI
  .github/workflows/iterative_testing.yml
Due: everything

Use public relase of the cli
  .github/workflows/iterative_testing.yml
Due: everything

add the iterative testing step
  .github/workflows/iterative_testing.yml
Due: everything

add core team workflow
  .github/workflows/core.yml
Due: everything

Over engineer a simple menu for no good reason
  __init__.py
  core/helpers.py
  core/main.py
  core/tests/test_helpers.py
Due: core, everything, main_file

fix the iterative testing process
  .github/workflows/iterative_testing.yml
Due: everything

improve codecov yml
  codecov.yml
Due: everything

add pineapple fruit
  fruits/__init__.py
  fruits/ascii.py
  fruits/emoji.py
  fruits/tests/test_fruits.py
Due: fruits, everything

update all workflows to use CLI and fail on upload error
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/fruits.yml
  .github/workflows/iterative_testing.yml
Due: everything

try uploading labels with legacy endpoint to see if we get them labels saved
  .github/workflows/iterative_testing.yml
  .gitignore
Due: everything

upload ONLY the coverage json with test info
  .github/workflows/iterative_testing.yml
Due: everything

uploading via new upload end point as that didn't affect the lack of labels in the report
  .github/workflows/iterative_testing.yml
Due: everything

the missing piece of config o/
  codecov.yml
Due: everything

adding unit tests for MainMenu
  core/tests/test_main.py
Due: everything

also get statuses from staging
  .github/workflows/staging.yml
  codecov.yml
Due: everything

mark staging workflow with name
  .github/workflows/staging.yml
Due: everything

add staging to the carryforward workflows
  .github/workflows/core.yml
  .github/workflows/fruits.yml
Due: everything

make flags more similar AND use legacy upload endpoint everywhere
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/fruits.yml
  .github/workflows/staging.yml
  codecov.yml
Due: everything

fix codecov yaml name prefix
  codecov.yml
Due: everything

Path conditions:
  emotions: any of: emotions/*
  fruits: any of: fruits/*
  core: any of: core/*
  everything: any of: .*
  main_file: any of: core/main.py
